server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://127.0.0.1:5433/petshop
    username: petshop
    password: petshop
  flyway:
    enabled: true
    locations: classpath:db/migration
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never

logging:
  level:
    org.hibernate.SQL: debug
    org.flywaydb: debug