server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/petshop
    username: petshop
    password: petshop
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never

logging:
  level:
    org.hibernate.SQL: debug